<h1>Edit your petition</h1>
<%= form_for @petition do |f| %>
  
  <div><%= f.label :description %><br />
  <%= f.text_field :description %></div>

  <div><%= f.submit "Edit this petition" %></div>
<% end %>

