<h1>Petitions</h1>
<% @petitions.each do |petition| %>
	<div class="well">
		<%= petition.title %><br/>
		<%= petition.description%><br/>
		<% if current_user %>
			<% if petition.user == current_user %>
				<a href="<%= edit_petition_path(petition)%>">
					edit this petition
				</a>
			<% end %>

			<div class="btn">
				Add your signature!
			</div>
		<% end %>
	</div>
<% end %>
